<!DOCTYPE html>
<html lang="en">

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h4{
  text-align: center;
}
</style>


                        
    
         <h3> Төлбөрийн мэдээлэл</h3>

<table>
  <tr>
    <th>Сонгосон кредит</th>
    <th>21</th>
    
    
  </tr>
  <tr>
    <td>Төлөх төлбөр</td>
    <td>1,60014900</td>
    
   
  </tr>
  <tr>
    <td>Хөнглөлт урамшуулал</td>
    <td>0,0</td>
  </tr>
  <tr>
    <td>Өмнөх үлдэгдэл</td>
    <td>310,950</td>
   
  </tr>
  <tr>
   <td>Төлсөн төлбар</td>
    <td>384,500</td>
    
  </tr>
   <tr>
   <td>Төлбөрийн дутуу</td>
    <td>919,450</td>
   
  </tr>
  <tr>
   <td>Төлбөрийн илүү</td>
    <td>0,0</td>
    

</table>
</body>
</html>





