<!DOCTYPE html>
<html>
<head>
	<title>Тайлбар</title>
		<h3>Тайлбар
ШУТИС МХТС-ийн Оюутны нэгдсэн бүлгэм 

Элдэв төрлийн зар Үүнд:

- Бие даалт, семинарь болон лабораторын даалгавар хийх,хийлгүүлэх 
- LIKE, SHARE гуйсан зар, сонгуулын сурталчилгаа
- ШУТИС-ийн тухай холбогдолгүй хүний нэр төрд халдсан, садар самуунг сурталчилсан нийтлэл нийтлэхгүй байхыг анхаарна уу.

Шаардлагатай тохиолдолд тухайн гишүүнийг хасах болно. 

Дээрхи төрлийн пост нийтлэгдсэн үед гишүүд #report хийж админы ажлыг хөнгөвчилж өгнө үү Баярлалаа. 
 </h3>
	
</head>
<body>

</body>
</html>
