<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>



<table>
  <tr>
    <th>Гариг</th>
    <th>Цаг</th>
    <th>Хич.код</th>
    <th>Хич.нэр</th>
    <th>Хич.хэлбэр</th>
    <th>Анги</th>
    <th>Багш.код</th>
    <th>Багш.нэр</th>
    
  </tr>
  <tr>
    <td>Даваа</td>
    <td>1</td>
    <td>S.EST210</td>
    <td>Шинжлэх ухаан технологийн англи хэл</td>
    <td>Пр</td>
    <td>VI-110</td>
    <td>D.FL20</td>
    <td>А.Болормаа</td>
   
  </tr>
  <tr>
    <td>Мягмар</td>
    <td>2</td>
    <td>F.NS350</td>
    <td>Загварчлалын үндэс</td>
    <td>Лк</td>
    <td>VI-402</td>
    <td>J.IN25</td>
    <td>С.Чулуунтулга</td>
  </tr>
  <tr>
    <td>Мягмар</td>
    <td>2</td>
    <td>F.NS350</td>
    <td>Загварчлалын үндэс</td>
    <td>Лк</td>
    <td>VI-402</td>
    <td>J.IN25</td>
    <td>С.Чулуунтулга</td>
  </tr>
  <tr>
   <td>Лхагва</td>
    <td>3</td>
    <td>F.NS350</td>
    <td>Загварчлалын үндэс</td>
    <td>Лк</td>
    <td>VI-402</td>
    <td>J.IN25</td>
    <td>С.Чулуунтулга</td>
  </tr>
   <tr>
   <td>Лхагва</td>
    <td>3</td>
    <td>F.NS350</td>
    <td>Загварчлалын үндэс</td>
    <td>Лк</td>
    <td>VI-402</td>
    <td>J.IN25</td>
    <td>С.Чулуунтулга</td>
  </tr>
  <tr>
   <td>Лхагва</td>
    <td>3</td>
    <td>F.NS350</td>
    <td>Загварчлалын үндэс</td>
    <td>Лк</td>
    <td>VI-402</td>
    <td>J.IN25</td>
    <td>С.Чулуунтулга</td>
  </tr>
   <tr>
   <td>Пүрэв</td>
    <td>4</td>
    <td>F.NS350</td>
    <td>Загварчлалын үндэс</td>
    <td>Лк</td>
    <td>VI-402</td>
    <td>J.IN25</td>
    <td>С.Чулуунтулга</td>
  </tr>
   <tr>
   <td>Баасан</td>
    <td>5</td>
    <td>F.NS350</td>
    <td>Загварчлалын үндэс</td>
    <td>Лк</td>
    <td>VI-402</td>
    <td>J.IN25</td>
    <td>С.Чулуунтулга</td>
  </tr>
   <tr>
   <td>Баасан</td>
    <td>5</td>
    <td>F.NS350</td>
    <td>Загварчлалын үндэс</td>
    <td>Лк</td>
    <td>VI-402</td>
    <td>J.IN25</td>
    <td>С.Чулуунтулга</td>
  </tr>
</table>

</body>
</html>
