<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h4{
  text-align: center;
}
</style>
</head>
<body>

<h3> Билгүүн Золбоо B160920356 </h3>
<h4>2014-2015 оны хичээлийн жилийн 1-р улирал</h4>

<table>
  <tr>
    <th>Хич.код</th>
    <th>Хичээлийн нэр</th>
    <th>Кредит</th>
    <th>Б.Оноо</th>
    <th>Шал.Оноо</th>
    <th>Оноо</th>
    <th>Үс.Үнэлгээ</th>
    <th>Чан.Оноо</th>
    <th>Багш.Код</th>
    <th>Багшийн нэр</th>
    
  </tr>
  <tr>
    <th>SCD101</th>
    <th>Гамшгаас хамгаалах менежмент</th>
    <th>1</th>
    <th>97</th>
    <th>0</th>
    <th>97</th>
    <th>А</th>
    <th>4</th>
    <th></th>
    <th></th>
   
  </tr>
  <tr>
    <th>JIT101</th>
    <th>Компьютерийн технологийн үндэс</th>
    <th>3</th>
    <th>59</th>
    <th>20</th>
    <th>79</th>
    <th>+C</th>
    <th>7.2</th>
    <th>JIT27</th>
    <th>Э.Мөнхсүх</th>
  </tr>
  <tr>
    <th>UML103</th>
    <th>Хэл ярианы соёл</th>
    <th>3</th>
    <th>70</th>
    <th>28</th>
    <th>98</th>
    <th>А</th>
    <th>12</th>
    <th>BRS36</th>
    <th>Г.Даваажав</th>
  </tr>
  <tr>
  <th>UMT101</th>
    <th>Математик 1</th>
    <th>3</th>
    <th>70</th>
    <th>30</th>
    <th>100</th>
    <th>A</th>
    <th>12</th>
    <th>EMT40</th>
    <th>Х.Отгондорж</th>
  </tr>
   <tr>
   <th>SPH101</th>
    <th>Физик 1</th>
    <th>3</th>
    <th>68</th>
    <th>30</th>
    <th>98</th>
    <th>А</th>
    <th>12</th>
    <th>FPH71</th>
    <th>Х.Болт-Эрдэнэ</th>
  </tr>
  <tr>
     <th>SSS102</th>
    <th>Монголын түүх</th>
    <th>3</th>
    <th>65</th>
    <th>29</th>
    <th>94</th>
    <th>А</th>
    <th>12</th>
    <th>KTS43</th>
    <th>Т.Мөррэнцэн</th>
  </tr>
  <tr>
     <th></th>
    <th>Нийт кредит</th>
    <th>16</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Үн.голч</th>
    <th>3,45</th>
    <th></th>
    <th></th>
  </tr>
   
</table><br>

<button type="button" onclick="alert('Hello world!')">Хэвлэх</button>
<button type="button" onclick="alert('Hello world!')">Буцах</button>
 

</body>
</html>
