<!DOCTYPE html>
<html lang="en">

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
h4{
  text-align: center;
}
</style>

 
         <h3> Төлбөрийн түүх 2017оноос өмнөх</h3>

<table>
  <tr>
    <th>Хичээлийн жил</th>
    <th>Улирал</th>
    <th>Мөнгөн дүн</th>
    <th>Огноо</th>
  
    
    
  </tr>
  <tr>
    <th>2016-2017</th>
    <th>Намар</th>
    <th>225,650</th>
    <th>2016-12-19</th>
  
   
  </tr>
  <tr>
   <th>2016-2017</th>
    <th>Хавар</th>
    <th>1,000000</th>
    <th>2016-01-05</th>
  </tr>
  <tr>
     <th>2014-2015</th>
    <th>Хавар</th>
    <th>1,000000</th>
    <th>2016-01-05</th>
   
  </tr>
  <tr>
    <th>2014-2015</th>
    <th>Хавар</th>
    <th>1,000000</th>
    <th>2016-01-05</th>
  </tr>
  

</table>

</body>
</html>





